<div class="card">
    <div class="card-header">
        <img src="{{card_img}}" alt="{{card_label}}" />
        <span class="card-header-label">{{card_label}}</span>
    </div>
    <div class="card-half">
        <div class="card-body ">
            <h2>{{card_title}}</h2>
            <p>{{card_description}}</p>
        </div>
        <div class="card-footer">
            <span class="card-footer-big-label">HND {{card_price}}</span>
            <a class="card-footer-cta" href="">{{card_cta}}</a>
        </div>
    </div>
</div>