<section class="tabla-productos grid">
    <div class="row justify-center">
        <div class="col-12 col-lg-10">
            <table>
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Stock</th>
                        <th>Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr>
                        <td>{{sku}}</td>
                        <td>{{nombre}}</td>
                        <td>HNL {{precio}}</td>
                        <td>{{stock}}</td>
                        <td>{{categoria}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</section>